# ▶️ Fisiere Django
*.pyc
__pycache__/
db.sqlite3
mysite/db.sqlite3

# ▶️ Media & static local
/media/
/staticfiles/

# ▶️ Setari locale
.env
*.env
*.local

# ▶️ VS Code settings
.vscode/

# ▶️ Jupyter, pycache & test output
.ipynb_checkpoints/
*.log

# ▶️ Mediul virtual
venv/
ENV/
env/

# ▶️ Mac & Windows stuff
.DS_Store
Thumbs.db

# ▶️ Backup files
*.bak
*.swp
*.swo

*.drawio

**/migrations/*.py
!**/migrations/__init__.py
mysite/accounts/migrations/0002_rename_name_useraccount_first_name_and_more.py
mysite/accounts/migrations/0003_profile_embedding.py
mysite/api/__pycache__/apps.cpython-313.pyc
mysite/api/__pycache__/serializers.cpython-313.pyc
mysite/api/__pycache__/urls.cpython-313.pyc
mysite/accounts/migrations/0002_rename_name_useraccount_first_name_and_more.py
mysite/accounts/migrations/0002_rename_name_useraccount_first_name_and_more.py
